# Preparatory Processing and Calcs for the Heat Pump Calculator

In [75]:
import os
import csv
from datetime import datetime
import pickle

import pandas as pd
import numpy as np
from glob import glob
import requests
from IPython.display import display

## Download TMY3 Files

In [33]:
TMY_FOLDER = r'C:\Users\Alan\Dropbox\TMY3'
TMY_URL = 'http://rredc.nrel.gov/solar/old_data/nsrdb/1991-2005/data/tmy3/{}TYA.CSV'
#for lin in open(os.path.join(TMY_FOLDER, 'tmy_list.txt')):
#    tmy_id = lin.strip().split()[0]
#    print('Processing: {}'.format(tmy_id))
#    resp = requests.get(TMY_URL.format(tmy_id))
#    open(os.path.join(TMY_FOLDER, '{}.csv'.format(tmy_id)), 'w').write(resp.text)

## Process TMY3 Files into Pickled DataFrames

In [85]:
# accumulates metadata for each TMY3 file
meta_list = []

for f in glob(os.path.join(TMY_FOLDER, '*.csv')):
    print('Processing: {}'.format(f))
    with open(f, newline='') as csvfile:
        
        # Use a csvreader just to process the header row
        tmyreader = csv.reader(csvfile)
        hdr = next(tmyreader)
        meta = dict(
            tmy_id = int(hdr[0]),
            city = hdr[1].strip(),
            state = hdr[2].strip(),
            utc_offset = float(hdr[3]),
            latitude = float(hdr[4]),
            longitude = float(hdr[5]),
            elevation = float(hdr[6]) * 3.28084   # in feet
        )
        meta_list.append(meta)
        
        # read the rest of the lines into a DataFrame
        df = pd.read_csv(csvfile)
        
        # start making final DataFrame
        df['db_temp'] = df['Dry-bulb (C)'] * 1.8 + 32.0
        df_final = df[['db_temp']].copy()
        
        # make a list of date/times with the stamp occurring in the
        # middle of the hour associated with the data.  Also, use 
        # the year 2018 for all the timestamps
        ts = []
        for dt, tm in zip(df['Date (MM/DD/YYYY)'], df['Time (HH:MM)']):
            m, d, _ = dt.split('/')
            h, _ = tm.split(':')
            ts.append( datetime(2018, int(m), int(d), int(h) - 1, 30))
        
        df_final.index = ts
        df_final['month'] = df_final.index.month
        
        # pickle it.
        df_final.to_pickle('data/climate/{}.pkl'.format(meta['tmy_id']))

df_meta = pd.DataFrame(meta_list)
df_meta.set_index('tmy_id', inplace=True)
df_meta.to_pickle('data/climate/tmy3_meta.pkl')

Processing: C:\Users\Alan\Dropbox\TMY3\700197.csv
Processing: C:\Users\Alan\Dropbox\TMY3\700260.csv
Processing: C:\Users\Alan\Dropbox\TMY3\700637.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701043.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701195.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701330.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701625.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701718.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701740.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701780.csv
Processing: C:\Users\Alan\Dropbox\TMY3\701940.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702000.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702005.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702035.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702040.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702070.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702075.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702084.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702185.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702186.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702190.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702225.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702310.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702320.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702460.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702495.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702510.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702590.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702595.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702600.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702606.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702607.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702610.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702647.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702650.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702670.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702710.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702720.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702725.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702730.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702735.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702740.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702746.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702750.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702756.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702757.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702770.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702910.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702960.csv
Processing: C:\Users\Alan\Dropbox\TMY3\702986.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703080.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703160.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703165.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703210.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703260.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703330.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703400.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703407.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703410.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703430.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703500.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703606.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703610.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703620.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703670.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703710.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703810.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703855.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703860.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703870.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703884.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703950.csv
Processing: C:\Users\Alan\Dropbox\TMY3\703980.csv
Processing: C:\Users\Alan\Dropbox\TMY3\704140.csv
Processing: C:\Users\Alan\Dropbox\TMY3\704540.csv
Processing: C:\Users\Alan\Dropbox\TMY3\704890.csv

In [86]:
display(df_final.head())
display(df_final.tail())
df_meta

                     db_temp  month
2018-01-01 00:30:00    40.10      1
2018-01-01 01:30:00    40.10      1
2018-01-01 02:30:00    39.92      1
2018-01-01 03:30:00    40.10      1
2018-01-01 04:30:00    40.10      1

                     db_temp  month
2018-12-31 19:30:00    28.40     12
2018-12-31 20:30:00    27.68     12
2018-12-31 21:30:00    27.14     12
2018-12-31 22:30:00    26.60     12
2018-12-31 23:30:00    26.42     12

,city,elevation,latitude,longitude,state,utc_offset
tmy_id,,,,,,
700197,SELAWIK,26.24672,66.600,-160.000,AK,-9.0
700260,BARROW W POST-W ROGERS ARPT [NSA - ARM],32.80840,71.320,-156.620,AK,-9.0
700637,DEADHORSE,75.45932,70.200,-148.483,AK,-9.0
701043,POINT HOPE (AWOS),13.12336,68.350,-166.800,AK,-9.0
701195,SHISHMAREF (AWOS),6.56168,66.267,-166.050,AK,-9.0
701330,KOTZEBUE RALPH WEIN MEMORIAL,9.84252,66.883,-162.600,AK,-9.0
701625,ANAKTUVUK PASS,2155.51188,68.133,-151.733,AK,-9.0
701718,AMBLER,288.71392,67.100,-157.850,AK,-9.0
701740,BETTLES FIELD,643.04464,66.917,-151.517,AK,-9.0
701780,TANANA RALPH M CALHOUN MEM AP,232.93964,65.167,-152.100,AK,-9.0
701940,FORT YUKON,446.19424,66.567,-145.267,AK,-9.0
702000,NOME MUNICIPAL ARPT,13.12336,64.517,-165.450,AK,-9.0
702005,SAINT MARY`S (AWOS),311.67980,62.067,-163.300,AK,-9.0
702035,SAVOONGA,55.77428,63.683,-170.500,AK,-9.0
702040,GAMBELL,26.24672,63.783,-171.750,AK,-9.0
702070,UNALAKLEET FIELD,16.40420,63.883,-160.800,AK,-9.0
702075,ANVIK,324.80316,62.650,-160.183,AK,-9.0
702084,EMMONAK,13.12336,62.783,-164.500,AK,-9.0
702185,MEKORYUK,49.21260,60.367,-166.267,AK,-9.0
702186,HOOPER BAY,19.68504,61.517,-166.150,AK,-9.0
702190,BETHEL AIRPORT,124.67192,60.783,-161.833,AK,-9.0
702225,HUSLIA,180.44620,65.700,-156.383,AK,-9.0
702310,MCGRATH ARPT,344.48820,62.950,-155.600,AK,-9.0
702320,ANIAK AIRPORT,85.30184,61.583,-159.533,AK,-9.0
702460,MINCHUMINA,698.81892,63.883,-152.283,AK,-9.0
702495,HAYES RIVER,1000.65620,61.983,-152.083,AK,-9.0
702510,TALKEETNA STATE ARPT,344.48820,62.317,-150.100,AK,-9.0
702590,KENAI MUNICIPAL AP,85.30184,60.583,-151.233,AK,-9.0
702595,SOLDOTNA,111.54856,60.467,-151.033,AK,-9.0
702600,NENANA MUNICIPAL AP,357.61156,64.550,-149.100,AK,-9.0
...,...,...,...,...,...,...
702770,SEWARD,59.05512,60.117,-149.450,AK,-9.0
702910,NORTHWAY AIRPORT,1712.59848,62.967,-141.933,AK,-9.0
702960,CORDOVA,39.37008,60.500,-145.500,AK,-9.0
702986,BIG RIVER LAKE,39.37008,60.817,-152.300,AK,-9.0
703080,ST PAUL ISLAND ARPT,22.96588,57.167,-170.217,AK,-9.0
703160,COLD BAY ARPT,95.14436,55.200,-162.717,AK,-9.0
703165,SAND POINT,22.96588,55.317,-160.517,AK,-9.0
703210,DILLINGHAM (AMOS),95.14436,59.050,-158.517,AK,-9.0
703260,KING SALMON ARPT,49.21260,58.683,-156.650,AK,-9.0
703330,PORT HEIDEN,95.14436,56.950,-158.617,AK,-9.0
703400,ILIAMNA ARPT,187.00788,59.750,-154.917,AK,-9.0
703407,SLEETMUTE,177.16536,61.717,-157.150,AK,-9.0
703410,HOMER ARPT,88.58268,59.650,-151.483,AK,-9.0
703430,MIDDLETON ISLAND AUT,45.93176,59.467,-146.317,AK,-9.0
703500,KODIAK AIRPORT,16.40420,57.750,-152.500,AK,-9.0
703606,TOGIAC VILLAGE AWOS,19.68504,59.050,-160.400,AK,-9.0
703610,YAKUTAT STATE ARPT,26.24672,59.517,-139.633,AK,-9.0
703620,SKAGWAY AIRPORT,29.52756,59.467,-135.300,AK,-9.0
703670,GUSTAVUS,39.37008,58.417,-135.700,AK,-9.0
703710,SITKA JAPONSKI AP,13.12336,57.050,-135.367,AK,-9.0
703810,JUNEAU INT'L ARPT,13.12336,58.350,-134.583,AK,-9.0
703855,KAKE SEAPLANE BASE,0.00000,56.967,-133.950,AK,-9.0
703860,PETERSBURG,108.26772,56.800,-132.950,AK,-9.0
703870,WRANGELL,42.65092,56.483,-132.367,AK,-9.0
703884,HYDABURG SEAPLANE,0.00000,55.200,-132.833,AK,-9.0
703950,KETCHIKAN INTL AP,75.45932,55.367,-131.717,AK,-9.0
703980,ANNETTE ISLAND AP,108.26772,55.050,-131.567,AK,-9.0
704140,SHEMYA AFB,101.70604,52.717,174.117,AK,-10.0
704540,ADAK NAS,16.40420,51.883,-176.650,AK,-10.0
704890,DUTCH HARBOR,13.12336,53.900,-166.550,AK,-9.0

In [87]:
# Vectorized Haversine function to find distance between two points
def haversine_np(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    return km