In [1]:
import math
import pandas as pd
import numpy as np
from importlib import reload

In [2]:
import library

In [3]:
reload(library)

In [4]:
library.df_city.iloc[0]

Name                                  Anchorage
Latitude                                  61.15
Longitude                               -149.86
FuelRefer                                     0
FuelCityID                                  NaN
Oil1Price                                  3.07
Oil2Price                                   NaN
PropanePrice                                4.5
BirchPrice                                  325
SprucePrice                                 345
CoalPrice                                   175
SteamPrice                                  NaN
HotWaterPrice                               NaN
MunicipalSalesTax                           NaN
BoroughSalesTax                             NaN
TMYid                                    702725
TMYname                  LAKE HOOD SEAPLANE, AK
ElecUtilities        [2, 293, 480, 1, 361, 548]
GasPrice                                   0.97
Name: 1, dtype: object

In [5]:
library.df_util.iloc[0]

ID                                                1
Name                  Chugach Electric- Residential
Active                                            1
Type                                              1
IsCommercial                                      0
ChargesRCC                                        1
FuelSurcharge                                  0.06
PurchasedEnergyAdj                          0.00623
PCE                                               0
CO2                                             1.1
CustomerChg                                       8
DemandCharge                                    NaN
Block1                                          NaN
Block2                                          NaN
Block3                                          NaN
Block4                                          NaN
Block5                                          NaN
Rate1                                          0.11
Rate2                                           NaN
Rate3                                           NaN
Rate4                                           NaN
Rate5                                           NaN
NameShort                                    Chugac
Name: 1, dtype: object

In [6]:
library.misc_info

ID                                                                      1
LibVersion                                              2/27/2018 0:00:00
DiscountRate                                                         0.03
RegSurcharge                                                       0.0032
RegSurchargeElectric                                               0.0009
PCEkWhLimit                                                           500
PCEFundingPct                                                           1
MiscNotes               Inflation factors and discount rate from 2011 ...
Name: 0, dtype: object

In [7]:
library.df_city.query('FuelRefer > 0')

,Name,Latitude,Longitude,FuelRefer,FuelCityID,Oil1Price,Oil2Price,PropanePrice,BirchPrice,SprucePrice,CoalPrice,SteamPrice,HotWaterPrice,MunicipalSalesTax,BoroughSalesTax,TMYid,TMYname,ElecUtilities,GasPrice
ID,,,,,,,,,,,,,,,,,,,
240,Eyak,60.56,-145.7,1,38.0,3.01,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702960,"CORDOVA, AK","[37, 366, 553]",NaN
322,Faribanks - Chena Ridge,64.80,-148.0,1,293.0,2.89,NaN,3.99,350.0,250.0,NaN,10.5,23.4,NaN,NaN,702610,"FAIRBANKS INTL ARPT, AK","[3, 380, 567, 683, 684]",2.08

In [8]:
library.cities()[:5]

[('Adak', 2), ('Akhiok', 283), ('Akiachak', 84), ('Akiak', 85), ('Akutan', 3)]

In [9]:
library.util_names([2, 293, 480, 1, 361, 548])

[('Anchorage ML&P - Residential', 2),
 ('Anchorage ML&P - Commercial - Sm', 293),
 ('Anchorage ML&P - Commercial - Lg', 480),
 ('Chugach Electric- Residential', 1),
 ('Chugach Electric - Commercial - Sm', 361),
 ('Chugach Electric - Commercial - Lg', 548)]

In [10]:
library.city_from_id(1)

Name                                  Anchorage
Latitude                                  61.15
Longitude                               -149.86
FuelRefer                                     0
FuelCityID                                  NaN
Oil1Price                                  3.07
Oil2Price                                   NaN
PropanePrice                                4.5
BirchPrice                                  325
SprucePrice                                 345
CoalPrice                                   175
SteamPrice                                  NaN
HotWaterPrice                               NaN
MunicipalSalesTax                           NaN
BoroughSalesTax                             NaN
TMYid                                    702725
TMYname                  LAKE HOOD SEAPLANE, AK
ElecUtilities        [2, 293, 480, 1, 361, 548]
GasPrice                                   0.97
Name: 1, dtype: object

In [11]:
library.util_from_id(1)

ID                                                1
Name                  Chugach Electric- Residential
Active                                            1
Type                                              1
IsCommercial                                      0
ChargesRCC                                        1
FuelSurcharge                                  0.06
PurchasedEnergyAdj                          0.00623
PCE                                               0
CO2                                             1.1
CustomerChg                                       8
DemandCharge                                    NaN
Block1                                          NaN
Block2                                          NaN
Block3                                          NaN
Block4                                          NaN
Block5                                          NaN
Rate1                                          0.11
Rate2                                           NaN
Rate3                                           NaN
Rate4                                           NaN
Rate5                                           NaN
NameShort                                    Chugac
Name: 1, dtype: object

In [12]:
library.utility_blocks(1)

[(nan, 0.17623), (nan, nan), (nan, nan), (nan, nan), (nan, nan)]

In [13]:
library.df_util.query('Block4 > 0')

,ID,Name,Active,Type,IsCommercial,ChargesRCC,FuelSurcharge,PurchasedEnergyAdj,PCE,CO2,...,Block2,Block3,Block4,Block5,Rate1,Rate2,Rate3,Rate4,Rate5,NameShort
ID,,,,,,,,,,,,,,,,,,,,,
383,383,Gwitchyaa Zhee Utility Co - Commercial - Sm,1,1,1,1,NaN,0.28,NaN,2.0,...,400.0,500.0,1000.0,NaN,0.53,0.46,0.38,0.31,0.28,Gwitch
570,570,Gwitchyaa Zhee Utility Co - Commercial - Lg,1,1,1,1,NaN,0.28,NaN,2.0,...,400.0,500.0,1000.0,NaN,0.53,0.46,0.38,0.31,0.28,Gwitch

In [14]:
blocks = library.utility_blocks(383)
blocks

[(100.0, 0.81),
 (400.0, 0.74),
 (500.0, 0.66),
 (1000.0, 0.5900000000000001),
 (nan, 0.56)]

In [15]:
min(1e45, math.inf)

1e+45

In [24]:
import elec_cost
reload(elec_cost)

In [31]:
blocks = library.utility_blocks(383)
#blocks = library.utility_blocks(1)
print(blocks)
ec = elec_cost.ElecCostCalc(blocks, pce_limit=300)  # but no PCE
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, reg_surchg=0.01)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, reg_surchg=0.01, sales_tax=1.)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, pce_limit=200)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, pce_limit=None)
print(ec.final_blocks())

[(100.0, 0.81), (400.0, 0.74), (500.0, 0.66), (1000.0, 0.5900000000000001), (nan, 0.56)]
[(100.0, 0.81), (300.0, 0.74), (100.0, 0.66), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7100000000000001), (300.0, 0.64), (100.0, 0.56), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7200000000000001), (300.0, 0.65), (100.0, 0.5700000000000001), (500.0, 0.6000000000000001), (inf, 0.5700000000000001)]
[(100.0, 1.4400000000000002), (300.0, 1.3), (100.0, 1.1400000000000001), (500.0, 1.2000000000000002), (inf, 1.1400000000000001)]
[(100.0, 0.7100000000000001), (100.0, 0.64), (200.0, 0.74), (100.0, 0.66), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7100000000000001), (300.0, 0.64), (100.0, 0.56), (500.0, 0.4900000000000001), (inf, 0.4600000000000001)]