In [1]:
import math
import pandas as pd
import numpy as np
from importlib import reload

In [2]:
import library

In [20]:
reload(library)

In [4]:
library.df_city.iloc[0]

Name                                                         Anchorage
Latitude                                                         61.15
Longitude                                                      -149.86
FuelRefer                                                            0
FuelCityID                                                         NaN
Oil1Price                                                         3.07
Oil2Price                                                          NaN
PropanePrice                                                       4.5
BirchPrice                                                         325
SprucePrice                                                        345
CoalPrice                                                          175
SteamPrice                                                         NaN
HotWaterPrice                                                      NaN
MunicipalSalesTax                                                  NaN
BoroughSalesTax                                                    NaN
TMYid                                                           702730
TMYname                                          ANCHORAGE INTL AP, AK
ElecUtilities        [(Anchorage ML&P - Residential, 2), (Anchorage...
GasPrice                                                          0.97
Name: 1, dtype: object

In [5]:
library.df_city.iloc[0].ElecUtilities

[('Anchorage ML&P - Residential', 2),
 ('Anchorage ML&P - Commercial - Sm', 293),
 ('Anchorage ML&P - Commercial - Lg', 480),
 ('Chugach Electric- Residential', 1),
 ('Chugach Electric - Commercial - Sm', 361),
 ('Chugach Electric - Commercial - Lg', 548)]

In [21]:
library.df_util.iloc[0]

ID                                                              1
Name                                Chugach Electric- Residential
Active                                                          1
Type                                                            1
IsCommercial                                                    0
ChargesRCC                                                      1
PCE                                                             0
CO2                                                           1.1
CustomerChg                                                     8
DemandCharge                                                  NaN
NameShort                                                  Chugac
Blocks          [(nan, 0.17713), (nan, nan), (nan, nan), (nan,...
Name: 1, dtype: object

In [7]:
library.misc_info

ID                                                                      1
LibVersion                                              2/27/2018 0:00:00
DiscountRate                                                         0.03
RegSurcharge                                                       0.0032
RegSurchargeElectric                                               0.0009
PCEkWhLimit                                                           500
PCEFundingPct                                                           1
MiscNotes               Inflation factors and discount rate from 2011 ...
Name: 0, dtype: object

In [8]:
library.df_city.query('FuelRefer > 0')

,Name,Latitude,Longitude,FuelRefer,FuelCityID,Oil1Price,Oil2Price,PropanePrice,BirchPrice,SprucePrice,CoalPrice,SteamPrice,HotWaterPrice,MunicipalSalesTax,BoroughSalesTax,TMYid,TMYname,ElecUtilities,GasPrice
ID,,,,,,,,,,,,,,,,,,,
240,Eyak,60.56,-145.7,1,38.0,3.01,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702960,"CORDOVA, AK","[(Cordova Electric Cooperative - Residential, ...",NaN
322,Faribanks - Chena Ridge,64.80,-148.0,1,293.0,2.89,NaN,3.99,350.0,250.0,NaN,10.5,23.4,NaN,NaN,702610,"FAIRBANKS INTL ARPT, AK","[(Golden Valley Electric - Residential, 3), (G...",2.08

In [9]:
library.cities()[:5]

[('Adak', 2), ('Akhiok', 283), ('Akiachak', 84), ('Akiak', 85), ('Akutan', 3)]

In [11]:
library.city_from_id(1)

Name                                                         Anchorage
Latitude                                                         61.15
Longitude                                                      -149.86
FuelRefer                                                            0
FuelCityID                                                         NaN
Oil1Price                                                         3.07
Oil2Price                                                          NaN
PropanePrice                                                       4.5
BirchPrice                                                         325
SprucePrice                                                        345
CoalPrice                                                          175
SteamPrice                                                         NaN
HotWaterPrice                                                      NaN
MunicipalSalesTax                                                  NaN
BoroughSalesTax                                                    NaN
TMYid                                                           702730
TMYname                                          ANCHORAGE INTL AP, AK
ElecUtilities        [(Anchorage ML&P - Residential, 2), (Anchorage...
GasPrice                                                          0.97
Name: 1, dtype: object

In [21]:
library.miscellaneous_info()

ID                                                                      1
LibVersion                                              2/27/2018 0:00:00
DiscountRate                                                         0.03
RegSurcharge                                                       0.0032
RegSurchargeElectric                                               0.0009
PCEkWhLimit                                                           500
PCEFundingPct                                                           1
MiscNotes               Inflation factors and discount rate from 2011 ...
Name: 0, dtype: object

In [22]:
library.util_from_id(1)

ID                                                              1
Name                                Chugach Electric- Residential
Active                                                          1
Type                                                            1
IsCommercial                                                    0
ChargesRCC                                                      1
PCE                                                             0
CO2                                                           1.1
CustomerChg                                                     8
DemandCharge                                                  NaN
NameShort                                                  Chugac
Blocks          [(nan, 0.17713), (nan, nan), (nan, nan), (nan,...
Name: 1, dtype: object

In [26]:
print(library.util_from_id(1).Blocks)
print(library.util_from_id(383).Blocks)

[(nan, 0.17713), (nan, nan), (nan, nan), (nan, nan), (nan, nan)]
[(100.0, 0.8109000000000001), (400.0, 0.7409000000000001), (500.0, 0.6609), (1000.0, 0.5909), (nan, 0.5609000000000001)]

In [17]:
min(1e45, math.inf)

1e+45

In [18]:
import elec_cost
reload(elec_cost)

In [19]:
blocks = library.utility_blocks(383)
#blocks = library.utility_blocks(1)
print(blocks)
ec = elec_cost.ElecCostCalc(blocks, pce_limit=300)  # but no PCE
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, reg_surchg=0.01)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, reg_surchg=0.01, sales_tax=1.)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, pce_limit=200)
print(ec.final_blocks())
ec = elec_cost.ElecCostCalc(blocks, pce=0.1, pce_limit=None)
print(ec.final_blocks())

[(100.0, 0.81), (400.0, 0.74), (500.0, 0.66), (1000.0, 0.5900000000000001), (nan, 0.56)]
[(100.0, 0.81), (300.0, 0.74), (100.0, 0.66), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7100000000000001), (300.0, 0.64), (100.0, 0.56), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7200000000000001), (300.0, 0.65), (100.0, 0.5700000000000001), (500.0, 0.6000000000000001), (inf, 0.5700000000000001)]
[(100.0, 1.4400000000000002), (300.0, 1.3), (100.0, 1.1400000000000001), (500.0, 1.2000000000000002), (inf, 1.1400000000000001)]
[(100.0, 0.7100000000000001), (100.0, 0.64), (200.0, 0.74), (100.0, 0.66), (500.0, 0.5900000000000001), (inf, 0.56)]
[(100.0, 0.7100000000000001), (300.0, 0.64), (100.0, 0.56), (500.0, 0.4900000000000001), (inf, 0.4600000000000001)]

In [24]:
library.Fuel.NATURAL_GAS.value

('Natural Gas', 'ccf', 103700.0, 116.0)

In [25]:
list(library.Fuel)

[<Fuel.NATURAL_GAS: ('Natural Gas', 'ccf', 103700.0, 116.0)>,
 <Fuel.PROPANE: ('Propane', 'gallon', 91333.0, 138.0)>,
 <Fuel.OIL1: ('#1 Oil', 'gallon', 137452.0, 160.0)>,
 <Fuel.OIL2: ('#2 Oil', 'gallon', 138500.0, 160.0)>,
 <Fuel.BIRCH: ('Birch Wood', 'cord', 26200000.0, 0.0)>,
 <Fuel.SPRUCE: ('Spruce Wood', 'cord', 18100000.0, 0.0)>,
 <Fuel.COAL: ('Coal', 'ton', 15100000.0, 291.0)>,
 <Fuel.DISTRICT_STEAM: ('District Heat, Steam', 'thousand pounds', 960000.0, 58.0)>,
 <Fuel.DISTRICT_HW: ('District Heat, Hot Water', 'million BTU', 1000000.0, 58.0)>]

In [6]:
library.fuels()

[('Natural Gas', 1),
 ('Propane', 2),
 ('#1 Oil', 3),
 ('#2 Oil', 4),
 ('Birch Wood', 5),
 ('Spruce Wood', 6),
 ('Coal', 7),
 ('District Heat, Steam', 8),
 ('District Heat, Hot Water', 9)]

In [7]:
library.fuel_from_id(6)

desc         Spruce Wood
unit                cord
btus            1.81e+07
co2                    0
price_col    SprucePrice
Name: 6, dtype: object

In [8]:
library.fuel_price(6, 1)

345.0

In [14]:
library.tmy_from_id(702190).head()

                     db_temp  rh   wind_spd  month
2018-01-01 00:30:00    35.06  92  36.909510      1
2018-01-01 01:30:00    35.06  92  38.027980      1
2018-01-01 02:30:00    35.06  92  36.909510      1
2018-01-01 03:30:00    35.96  85  39.146450      1
2018-01-01 04:30:00    35.96  85  35.567346      1