In [2]:
import pandas as pd
import numpy as np
from importlib import reload

In [7]:
import library

In [8]:
reload(library)

In [6]:
library.df_city.iloc[0]

Name                                  Anchorage
Latitude                                  61.15
Longitude                               -149.86
FuelRefer                                     0
FuelCityID                                  NaN
Oil1Price                                  3.07
Oil2Price                                   NaN
PropanePrice                                4.5
BirchPrice                                  325
SprucePrice                                 345
CoalPrice                                   175
SteamPrice                                  NaN
HotWaterPrice                               NaN
MunicipalSalesTax                           NaN
BoroughSalesTax                             NaN
TMYid                                    702725
TMYname                  LAKE HOOD SEAPLANE, AK
ElecUtilities        [2, 293, 480, 1, 361, 548]
GasPrice                                   0.97
Name: 1, dtype: object

In [9]:
library.df_util.iloc[0]

ID                                                1
Name                  Chugach Electric- Residential
Active                                            1
Type                                              1
IsCommercial                                      0
ChargesRCC                                        1
FuelSurcharge                                  0.06
PurchasedEnergyAdj                          0.00623
PCE                                               0
CO2                                             1.1
CustomerChg                                       8
DemandCharge                                    NaN
Block1                                          NaN
Block2                                          NaN
Block3                                          NaN
Block4                                          NaN
Block5                                          NaN
Rate1                                          0.11
Rate2                                           NaN
Rate3                                           NaN
Rate4                                           NaN
Rate5                                           NaN
NameShort                                    Chugac
Name: 1, dtype: object

In [10]:
library.misc_info

ID                                                                      1
LibVersion                                              2/27/2018 0:00:00
DiscountRate                                                         0.03
RegSurcharge                                                       0.0032
RegSurchargeElectric                                               0.0009
PCEkWhLimit                                                           500
PCEFundingPct                                                           1
MiscNotes               Inflation factors and discount rate from 2011 ...
Name: 0, dtype: object

In [11]:
library.df_city.query('FuelRefer > 0')

,Name,Latitude,Longitude,FuelRefer,FuelCityID,Oil1Price,Oil2Price,PropanePrice,BirchPrice,SprucePrice,CoalPrice,SteamPrice,HotWaterPrice,MunicipalSalesTax,BoroughSalesTax,TMYid,TMYname,ElecUtilities,GasPrice
ID,,,,,,,,,,,,,,,,,,,
240,Eyak,60.56,-145.7,1,38.0,3.01,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,702960,"CORDOVA, AK","[37, 366, 553]",NaN
322,Faribanks - Chena Ridge,64.80,-148.0,1,293.0,2.89,NaN,3.99,350.0,250.0,NaN,10.5,23.4,NaN,NaN,702610,"FAIRBANKS INTL ARPT, AK","[3, 380, 567, 683, 684]",2.08