In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from os.path import dirname, join, realpath
import logging, logging.handlers
import pandas as pd
import numpy as np

import heatpump.library as lib
import heatpump.hp_model as hp_model
import heatpump.elec_cost as elec_cost

In [2]:
calc = hp_model.HP_model()
fuel = lib.fuel_from_id(calc.fuel_type)

In [3]:
monthly_results = calc.monthly_results()
monthly_results

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_$_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_$_w_hp,elec_kwh_no_hp,elec_$_no_hp,elec_kwh_w_hp,elec_$_w_hp,fuel_chg_units,fuel_chg_mmbtu,fuel_chg_$,elec_chg_kwh,elec_chg_$,cop,co2_lbs_saved
month,,,,,,,,,,,,,,,,,,
1,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.80,0.000000
2,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,90.300000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000
3,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,86.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.90,0.000000
4,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,579.786809,-80.977500,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730
5,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,279.773877,-52.406944,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844
6,4.207392,38.957333,5.259240,202.578133,11.130667,1.502640,57.879467,350,73.5,601.656339,150.745353,-27.826667,-3.756600,-144.698667,251.656339,77.245353,3.50,199.645894
7,1.439844,13.331889,1.799805,69.325822,3.809111,0.514230,19.807378,370,77.7,456.121253,95.785463,-9.522778,-1.285575,-49.518444,86.121253,18.085463,3.50,68.322358
8,2.028516,18.782556,2.535645,97.669289,5.366444,0.724470,27.905511,390,81.9,511.331435,110.099146,-13.416111,-1.811175,-69.763778,121.331435,28.199146,3.50,96.255564
9,4.443894,41.147167,5.554867,213.965267,11.756333,1.587105,61.132933,410,86.1,675.802211,184.110995,-29.390833,-3.967762,-152.832333,265.802211,98.010995,3.50,210.868203
10,9.463272,87.622889,11.829090,455.639022,25.035111,3.379740,130.182578,430,90.3,1090.363423,370.663540,-62.587778,-8.449350,-325.456444,660.363423,280.363540,3.00,297.160239
11,13.032873,120.674750,16.291091,627.508700,34.478500,4.654598,179.288200,430,90.3,1670.167724,631.575476,-86.196250,-11.636494,-448.220500,1240.167724,541.275476,2.20,-123.194541
12,15.590337,144.354972,19.487921,750.645856,144.354972,19.487921,750.645856,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000

In [4]:
month_dict = {1:'Jan',
             2:'Feb',
             3:'Mar',
             4:'Apr',
             5:'May',
             6:'Jun',
             7:'Jul',
             8:'Aug',
             9:'Sep',
             10:'Oct',
             11:'Nov',
             12:'Dec'}

In [5]:
monthly_results = monthly_results.reset_index()
monthly_results['month'] = monthly_results.month.replace(month_dict)
monthly_results = monthly_results.set_index('month')
monthly_results

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_$_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_$_w_hp,elec_kwh_no_hp,elec_$_no_hp,elec_kwh_w_hp,elec_$_w_hp,fuel_chg_units,fuel_chg_mmbtu,fuel_chg_$,elec_chg_kwh,elec_chg_$,cop,co2_lbs_saved
month,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.80,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,90.300000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,86.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.90,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,579.786809,-80.977500,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,279.773877,-52.406944,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844
Jun,4.207392,38.957333,5.259240,202.578133,11.130667,1.502640,57.879467,350,73.5,601.656339,150.745353,-27.826667,-3.756600,-144.698667,251.656339,77.245353,3.50,199.645894
Jul,1.439844,13.331889,1.799805,69.325822,3.809111,0.514230,19.807378,370,77.7,456.121253,95.785463,-9.522778,-1.285575,-49.518444,86.121253,18.085463,3.50,68.322358
Aug,2.028516,18.782556,2.535645,97.669289,5.366444,0.724470,27.905511,390,81.9,511.331435,110.099146,-13.416111,-1.811175,-69.763778,121.331435,28.199146,3.50,96.255564
Sep,4.443894,41.147167,5.554867,213.965267,11.756333,1.587105,61.132933,410,86.1,675.802211,184.110995,-29.390833,-3.967762,-152.832333,265.802211,98.010995,3.50,210.868203
Oct,9.463272,87.622889,11.829090,455.639022,25.035111,3.379740,130.182578,430,90.3,1090.363423,370.663540,-62.587778,-8.449350,-325.456444,660.363423,280.363540,3.00,297.160239
Nov,13.032873,120.674750,16.291091,627.508700,34.478500,4.654598,179.288200,430,90.3,1670.167724,631.575476,-86.196250,-11.636494,-448.220500,1240.167724,541.275476,2.20,-123.194541
Dec,15.590337,144.354972,19.487921,750.645856,144.354972,19.487921,750.645856,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000

In [6]:
annual_results = calc.annual_results()
annual_results

heat_load_mmbtu      115.576293
fuel_units_no_hp    1070.150861
fuel_mmbtu_no_hp     144.470366
fuel_$_no_hp        5564.784478
fuel_units_w_hp      707.826000
fuel_mmbtu_w_hp       95.556510
fuel_$_w_hp         3680.695200
elec_kwh_no_hp      4880.000000
elec_$_no_hp        1024.800000
elec_kwh_w_hp       9188.910575
elec_$_w_hp         2767.940658
fuel_chg_units      -362.324861
fuel_chg_mmbtu       -48.913856
fuel_chg_$         -1884.089278
elec_chg_kwh        4308.910575
elec_chg_$          1743.140658
cop                    2.661616
co2_lbs_saved        937.784831
dtype: float64

In [7]:
def convert_co2_to_miles_driven(co2_saved):
    ''' Converts CO2 emissions to a mileage driven
    equivalent for vehicles in the U.S. using EPA
    methodology:  https://www.epa.gov/energy/greenhouse-gases-equivalencies-calculator-calculations-and-references#miles'''
    pounds_in_metric_ton = 2204.62
    tons_co2_per_gallon = 0.0089
    avg_gas_mileage_us_fleet = 22
    mileage_equivalent = co2_saved / pounds_in_metric_ton / tons_co2_per_gallon * avg_gas_mileage_us_fleet
    
    return mileage_equivalent

In [8]:
annual_results['vehicle_mileage_equivalent'] = convert_co2_to_miles_driven(annual_results.co2_lbs_saved)

In [9]:
annual_results

heat_load_mmbtu                115.576293
fuel_units_no_hp              1070.150861
fuel_mmbtu_no_hp               144.470366
fuel_$_no_hp                  5564.784478
fuel_units_w_hp                707.826000
fuel_mmbtu_w_hp                 95.556510
fuel_$_w_hp                   3680.695200
elec_kwh_no_hp                4880.000000
elec_$_no_hp                  1024.800000
elec_kwh_w_hp                 9188.910575
elec_$_w_hp                   2767.940658
fuel_chg_units                -362.324861
fuel_chg_mmbtu                 -48.913856
fuel_chg_$                   -1884.089278
elec_chg_kwh                  4308.910575
elec_chg_$                    1743.140658
cop                              2.661616
co2_lbs_saved                  937.784831
vehicle_mileage_equivalent    1051.482707
dtype: float64

In [10]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

In [11]:
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
data = [go.Bar(x=monthly_results.index,
           y=monthly_results.heat_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

In [13]:
list(monthly_results.columns.values)

['heat_load_mmbtu',
 'fuel_units_no_hp',
 'fuel_mmbtu_no_hp',
 'fuel_$_no_hp',
 'fuel_units_w_hp',
 'fuel_mmbtu_w_hp',
 'fuel_$_w_hp',
 'elec_kwh_no_hp',
 'elec_$_no_hp',
 'elec_kwh_w_hp',
 'elec_$_w_hp',
 'fuel_chg_units',
 'fuel_chg_mmbtu',
 'fuel_chg_$',
 'elec_chg_kwh',
 'elec_chg_$',
 'cop',
 'co2_lbs_saved']

In [14]:
monthly_results['total_cost_w_hp'] = monthly_results['fuel_$_w_hp'] + monthly_results['elec_$_w_hp']
monthly_results['total_cost_no_hp'] = monthly_results['fuel_$_no_hp'] + monthly_results['elec_$_no_hp']

In [15]:
hp_cost = go.Bar(x=monthly_results.index,
             y=monthly_results.total_cost_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#1f78b4'))

no_hp_cost = go.Bar(x=monthly_results.index,
                y=monthly_results.total_cost_no_hp,
                name='Baseline Heating Cost',
                marker=dict(color='#b2df8a'))

data = [hp_cost, no_hp_cost]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='$,.2f'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='simple_heating_costs', fileopt='overwrite')

In [16]:
monthly_results['cost_savings'] = np.where(monthly_results.total_cost_w_hp < monthly_results.total_cost_no_hp,
                                          monthly_results.total_cost_no_hp - monthly_results.total_cost_w_hp,
                                          0)

monthly_results['cost_increases'] = np.where(monthly_results.total_cost_w_hp > monthly_results.total_cost_no_hp,
                                            monthly_results.total_cost_no_hp - monthly_results.total_cost_w_hp,
                                            0)

monthly_results.head()

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_$_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_$_w_hp,elec_kwh_no_hp,elec_$_no_hp,elec_kwh_w_hp,...,fuel_chg_mmbtu,fuel_chg_$,elec_chg_kwh,elec_chg_$,cop,co2_lbs_saved,total_cost_w_hp,total_cost_no_hp,cost_savings,cost_increases
month,,,,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,...,0.000000,0.000000,0.000000,0.000000,1.80,0.000000,857.473322,857.473322,0.000000,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,...,0.000000,0.000000,0.000000,0.000000,1.85,0.000000,769.037656,769.037656,0.000000,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,...,0.000000,0.000000,0.000000,0.000000,1.90,0.000000,820.802656,820.802656,0.000000,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,...,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730,748.220009,671.416200,0.000000,-76.803809
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,...,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844,388.780322,459.222556,70.442234,0.000000

In [17]:
hp_cost = go.Bar(x=monthly_results.index,
             y=monthly_results.total_cost_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#377eb8'))

cost_savings = go.Bar(x=monthly_results.index,
                y=monthly_results.cost_savings,
                name='Cost Savings',
                marker=dict(color='#4daf4a'))

cost_increases = go.Bar(x=monthly_results.index,
                y=monthly_results.cost_increases,
                name='Cost Increases',
                marker=dict(color='#e41a1c'))

no_hp_costs = go.Scatter(x=monthly_results.index,
                        y=monthly_results.total_cost_no_hp,
                        name='Baseline Heating Costs',
                         mode='markers',
                         marker=dict(color='#000000', size='12')
                        )

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='$,.2f'),
                  barmode='stack')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

In [18]:
efficiency = [go.Scatter(x=monthly_results.index,
                         y=monthly_results.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

In [19]:
md_results = '''# Results

### Greenhouse Gas Emissions

#### Installing a heat pump is predicted to save {} pounds of CO2 emissions annually, or {} pounds over the life of the equipment.
#### This is equivalent to a reduction of {} miles driven by an average passenger vehicle annually, or {} over the equipment's life.  


```
'''

In [20]:
md_results.format(annual_results.co2_lbs_saved,
                  annual_results.co2_lbs_saved * 12,
                  annual_results.vehicle_mileage_equivalent,
                  annual_results.vehicle_mileage_equivalent * 12)

"# Results\n\n### Greenhouse Gas Emissions\n\n#### Installing a heat pump is predicted to save 937.7848306918079 pounds of CO2 emissions annually, or 11253.417968301696 pounds over the life of the equipment.\n#### This is equivalent to a reduction of 1051.4827073166664 miles driven by an average passenger vehicle annually, or 12617.792487799998 over the equipment's life.  \n\n\n```\n"

In [21]:
annual_results

heat_load_mmbtu                115.576293
fuel_units_no_hp              1070.150861
fuel_mmbtu_no_hp               144.470366
fuel_$_no_hp                  5564.784478
fuel_units_w_hp                707.826000
fuel_mmbtu_w_hp                 95.556510
fuel_$_w_hp                   3680.695200
elec_kwh_no_hp                4880.000000
elec_$_no_hp                  1024.800000
elec_kwh_w_hp                 9188.910575
elec_$_w_hp                   2767.940658
fuel_chg_units                -362.324861
fuel_chg_mmbtu                 -48.913856
fuel_chg_$                   -1884.089278
elec_chg_kwh                  4308.910575
elec_chg_$                    1743.140658
cop                              2.661616
co2_lbs_saved                  937.784831
vehicle_mileage_equivalent    1051.482707
dtype: float64

In [22]:
list(monthly_results.columns.values)

['heat_load_mmbtu',
 'fuel_units_no_hp',
 'fuel_mmbtu_no_hp',
 'fuel_$_no_hp',
 'fuel_units_w_hp',
 'fuel_mmbtu_w_hp',
 'fuel_$_w_hp',
 'elec_kwh_no_hp',
 'elec_$_no_hp',
 'elec_kwh_w_hp',
 'elec_$_w_hp',
 'fuel_chg_units',
 'fuel_chg_mmbtu',
 'fuel_chg_$',
 'elec_chg_kwh',
 'elec_chg_$',
 'cop',
 'co2_lbs_saved',
 'total_cost_w_hp',
 'total_cost_no_hp',
 'cost_savings',
 'cost_increases']

In [23]:
elec_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results.elec_kwh_no_hp,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash'),
                        yaxis='y2'
                        )

elec_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.elec_kwh_w_hp,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0'),
                      yaxis='y2')

fuel_no_hp = go.Scatter(x=monthly_results.index,
                       y=monthly_results.fuel_units_no_hp,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.fuel_units_w_hp,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

data = [elec_no_hp, elec_w_hp, fuel_no_hp, fuel_w_hp]

layout = go.Layout(title='Energy Usage: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Heating Fuel Usage', hoverformat='.1f'),
               yaxis2=dict(title='Electricity Usage', 
                           hoverformat='.0f',
                          overlaying='y',
                          side='right')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_fuel_usage', fileopt='overwrite')

In [24]:
from plotly import tools

elec_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results.elec_kwh_no_hp,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.elec_kwh_w_hp,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=monthly_results.index,
                       y=monthly_results.fuel_units_no_hp,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.fuel_units_w_hp,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Basline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
fig['layout']['yaxis2'].update(title='Heating Fuel Use', hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

In [25]:
# Bethel utility ID for testing purposes
sample_util_id = 23

# Get utility dataframe
df_util = lib.util_from_id(sample_util_id)
df_util

ID                                                             23
Name                    Bethel Utilities Corportion - Residential
Active                                                          1
Type                                                            1
IsCommercial                                                    0
ChargesRCC                                                      1
PCE                                                          0.11
CO2                                                           1.5
CustomerChg                                                     5
DemandCharge                                                  NaN
NameShort                                                  Bethel
Blocks          [(700.0, 0.3209), (nan, nan), (nan, nan), (nan...
Name: 23, dtype: object

In [26]:
elec_coster = elec_cost.ElecCostCalc(sample_util_id, pce=0.0)

Max kWh: 700, Max Rate: 0
Max kWh: nan, Max Rate: 0

In [27]:
monthly_results.head()

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_$_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_$_w_hp,elec_kwh_no_hp,elec_$_no_hp,elec_kwh_w_hp,...,fuel_chg_mmbtu,fuel_chg_$,elec_chg_kwh,elec_chg_$,cop,co2_lbs_saved,total_cost_w_hp,total_cost_no_hp,cost_savings,cost_increases
month,,,,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,...,0.000000,0.000000,0.000000,0.000000,1.80,0.000000,857.473322,857.473322,0.000000,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,...,0.000000,0.000000,0.000000,0.000000,1.85,0.000000,769.037656,769.037656,0.000000,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,...,0.000000,0.000000,0.000000,0.000000,1.90,0.000000,820.802656,820.802656,0.000000,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,...,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730,748.220009,671.416200,0.000000,-76.803809
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,...,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844,388.780322,459.222556,70.442234,0.000000

In [29]:
elec_coster.monthly_cost(monthly_results.elec_kwh_w_hp[3])

Block kWh: 700, Block rate: 0
Block kWh: inf, Block rate: 0

229.63000000000002

In [30]:
monthly_results['elec_cost_w_hp_no_pce'] = monthly_results.elec_kwh_w_hp.apply(lambda x: elec_coster.monthly_cost(x))
monthly_results[['elec_$_w_hp', 'elec_kwh_w_hp', 'elec_cost_w_hp_no_pce']]

Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: inf, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: inf, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: inf, Block rate: 0
Block kWh: 700, Block rate: 0
Block kWh: inf, Block rate: 0
Block kWh: 700, Block rate: 0

       elec_$_w_hp  elec_kwh_w_hp  elec_cost_w_hp_no_pce
month
Jan      94.500000     450.000000             149.405000
Feb      90.300000     430.000000             142.987000
Mar      86.100000     410.000000             136.569000
Apr     579.786809    1555.081797             229.630000
May     279.773877     888.386394             229.630000
Jun     150.745353     601.656339             198.071519
Jul      95.785463     456.121253             151.369310
Aug     110.099146     511.331435             169.086258
Sep     184.110995     675.802211             221.864929
Oct     370.663540    1090.363423             229.630000
Nov     631.575476    1670.167724             229.630000
Dec      94.500000     450.000000             149.405000

In [30]:
elec_cost_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results['elec_$_no_hp'],
                        name='Monthly Electricity Cost (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash'),
                        yaxis='y2'
                        )

elec_cost_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results['elec_$_w_hp'],
                      name='Monthly Electricity Cost (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0'),
                      yaxis='y2')


data = [elec_cost_no_hp, elec_cost_w_hp]

layout = go.Layout(title='Electricity Cost: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Electricity Cost ($)', hoverformat='.1f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_electricity_cost', fileopt='overwrite')