In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html
from os.path import dirname, join, realpath
import logging, logging.handlers
import pandas as pd
import numpy as np

from IPython.display import display, Markdown, Latex

import heatpump.library as lib
import heatpump.hp_model as hp_model
import heatpump.elec_cost as elec_cost

In [2]:
calc = hp_model.HP_model()
fuel = lib.fuel_from_id(calc.fuel_type)

In [3]:
monthly_results = calc.monthly_results()
monthly_results

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_dol_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_dol_w_hp,elec_kwh_no_hp,elec_dol_no_hp,elec_kwh_w_hp,elec_dol_w_hp,fuel_chg_units,fuel_chg_mmbtu,fuel_chg_dol,elec_chg_kwh,elec_chg_dol,cop,co2_lbs_saved
month,,,,,,,,,,,,,,,,,,
1,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.80,0.000000
2,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,90.300000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000
3,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,86.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.90,0.000000
4,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,579.786809,-80.977500,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730
5,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,279.773877,-52.406944,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844
6,4.207392,38.957333,5.259240,202.578133,11.130667,1.502640,57.879467,350,73.5,601.656339,150.745353,-27.826667,-3.756600,-144.698667,251.656339,77.245353,3.50,199.645894
7,1.439844,13.331889,1.799805,69.325822,3.809111,0.514230,19.807378,370,77.7,456.121253,95.785463,-9.522778,-1.285575,-49.518444,86.121253,18.085463,3.50,68.322358
8,2.028516,18.782556,2.535645,97.669289,5.366444,0.724470,27.905511,390,81.9,511.331435,110.099146,-13.416111,-1.811175,-69.763778,121.331435,28.199146,3.50,96.255564
9,4.443894,41.147167,5.554867,213.965267,11.756333,1.587105,61.132933,410,86.1,675.802211,184.110995,-29.390833,-3.967762,-152.832333,265.802211,98.010995,3.50,210.868203
10,9.463272,87.622889,11.829090,455.639022,25.035111,3.379740,130.182578,430,90.3,1090.363423,370.663540,-62.587778,-8.449350,-325.456444,660.363423,280.363540,3.00,297.160239
11,13.032873,120.674750,16.291091,627.508700,34.478500,4.654598,179.288200,430,90.3,1670.167724,631.575476,-86.196250,-11.636494,-448.220500,1240.167724,541.275476,2.20,-123.194541
12,15.590337,144.354972,19.487921,750.645856,144.354972,19.487921,750.645856,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000

In [4]:
month_dict = {1:'Jan',
             2:'Feb',
             3:'Mar',
             4:'Apr',
             5:'May',
             6:'Jun',
             7:'Jul',
             8:'Aug',
             9:'Sep',
             10:'Oct',
             11:'Nov',
             12:'Dec'}

In [5]:
monthly_results = monthly_results.reset_index()
monthly_results['month'] = monthly_results.month.replace(month_dict)
monthly_results = monthly_results.set_index('month')
monthly_results

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_dol_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_dol_w_hp,elec_kwh_no_hp,elec_dol_no_hp,elec_kwh_w_hp,elec_dol_w_hp,fuel_chg_units,fuel_chg_mmbtu,fuel_chg_dol,elec_chg_kwh,elec_chg_dol,cop,co2_lbs_saved
month,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.80,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,90.300000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,86.100000,0.000000,0.000000,0.000000,0.000000,0.000000,1.90,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,579.786809,-80.977500,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,279.773877,-52.406944,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844
Jun,4.207392,38.957333,5.259240,202.578133,11.130667,1.502640,57.879467,350,73.5,601.656339,150.745353,-27.826667,-3.756600,-144.698667,251.656339,77.245353,3.50,199.645894
Jul,1.439844,13.331889,1.799805,69.325822,3.809111,0.514230,19.807378,370,77.7,456.121253,95.785463,-9.522778,-1.285575,-49.518444,86.121253,18.085463,3.50,68.322358
Aug,2.028516,18.782556,2.535645,97.669289,5.366444,0.724470,27.905511,390,81.9,511.331435,110.099146,-13.416111,-1.811175,-69.763778,121.331435,28.199146,3.50,96.255564
Sep,4.443894,41.147167,5.554867,213.965267,11.756333,1.587105,61.132933,410,86.1,675.802211,184.110995,-29.390833,-3.967762,-152.832333,265.802211,98.010995,3.50,210.868203
Oct,9.463272,87.622889,11.829090,455.639022,25.035111,3.379740,130.182578,430,90.3,1090.363423,370.663540,-62.587778,-8.449350,-325.456444,660.363423,280.363540,3.00,297.160239
Nov,13.032873,120.674750,16.291091,627.508700,34.478500,4.654598,179.288200,430,90.3,1670.167724,631.575476,-86.196250,-11.636494,-448.220500,1240.167724,541.275476,2.20,-123.194541
Dec,15.590337,144.354972,19.487921,750.645856,144.354972,19.487921,750.645856,450,94.5,450.000000,94.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.85,0.000000

In [6]:
annual_results = calc.annual_results()
annual_results

heat_load_mmbtu      115.576293
fuel_units_no_hp    1070.150861
fuel_mmbtu_no_hp     144.470366
fuel_dol_no_hp      5564.784478
fuel_units_w_hp      707.826000
fuel_mmbtu_w_hp       95.556510
fuel_dol_w_hp       3680.695200
elec_kwh_no_hp      4880.000000
elec_dol_no_hp      1024.800000
elec_kwh_w_hp       9188.910575
elec_dol_w_hp       2767.940658
fuel_chg_units      -362.324861
fuel_chg_mmbtu       -48.913856
fuel_chg_dol       -1884.089278
elec_chg_kwh        4308.910575
elec_chg_dol        1743.140658
cop                    2.661616
co2_lbs_saved        937.784831
dtype: float64

In [7]:
def convert_co2_to_miles_driven(co2_saved):
    ''' Converts CO2 emissions to a mileage driven
    equivalent for vehicles in the U.S. using EPA
    methodology:  https://www.epa.gov/energy/greenhouse-gases-equivalencies-calculator-calculations-and-references#miles'''
    pounds_in_metric_ton = 2204.62
    tons_co2_per_gallon = 0.0089
    avg_gas_mileage_us_fleet = 22
    mileage_equivalent = co2_saved / pounds_in_metric_ton / tons_co2_per_gallon * avg_gas_mileage_us_fleet
    
    return mileage_equivalent

In [8]:
annual_results['vehicle_mileage_equivalent'] = convert_co2_to_miles_driven(annual_results.co2_lbs_saved)

In [9]:
annual_results

heat_load_mmbtu                115.576293
fuel_units_no_hp              1070.150861
fuel_mmbtu_no_hp               144.470366
fuel_dol_no_hp                5564.784478
fuel_units_w_hp                707.826000
fuel_mmbtu_w_hp                 95.556510
fuel_dol_w_hp                 3680.695200
elec_kwh_no_hp                4880.000000
elec_dol_no_hp                1024.800000
elec_kwh_w_hp                 9188.910575
elec_dol_w_hp                 2767.940658
fuel_chg_units                -362.324861
fuel_chg_mmbtu                 -48.913856
fuel_chg_dol                 -1884.089278
elec_chg_kwh                  4308.910575
elec_chg_dol                  1743.140658
cop                              2.661616
co2_lbs_saved                  937.784831
vehicle_mileage_equivalent    1051.482707
dtype: float64

In [10]:
import plotly

plotly.tools.set_credentials_file(username='dustin_cchrc', api_key='yzYaFYf93PQ7D0VUZKGy')

In [11]:
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
data = [go.Bar(x=monthly_results.index,
           y=monthly_results.heat_load_mmbtu, 
             name='Monthly Heating Load')]

layout = go.Layout(title='Monthly Heating Load',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Estimated Heat Load (MMBTU)', hoverformat='.1f')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='estimated_heat_load', fileopt='overwrite')

In [13]:
list(monthly_results.columns.values)

['heat_load_mmbtu',
 'fuel_units_no_hp',
 'fuel_mmbtu_no_hp',
 'fuel_dol_no_hp',
 'fuel_units_w_hp',
 'fuel_mmbtu_w_hp',
 'fuel_dol_w_hp',
 'elec_kwh_no_hp',
 'elec_dol_no_hp',
 'elec_kwh_w_hp',
 'elec_dol_w_hp',
 'fuel_chg_units',
 'fuel_chg_mmbtu',
 'fuel_chg_dol',
 'elec_chg_kwh',
 'elec_chg_dol',
 'cop',
 'co2_lbs_saved']

In [14]:
monthly_results['total_cost_w_hp'] = monthly_results['fuel_dol_w_hp'] + monthly_results['elec_dol_w_hp']
monthly_results['total_cost_no_hp'] = monthly_results['fuel_dol_no_hp'] + monthly_results['elec_dol_no_hp']

In [15]:
hp_cost = go.Bar(x=monthly_results.index,
             y=monthly_results.total_cost_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#1f78b4'))

no_hp_cost = go.Bar(x=monthly_results.index,
                y=monthly_results.total_cost_no_hp,
                name='Baseline Heating Cost',
                marker=dict(color='#b2df8a'))

data = [hp_cost, no_hp_cost]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='dol,.2f'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='simple_heating_costs', fileopt='overwrite')

In [16]:
monthly_results['cost_savings'] = np.where(monthly_results.total_cost_w_hp < monthly_results.total_cost_no_hp,
                                          monthly_results.total_cost_no_hp - monthly_results.total_cost_w_hp,
                                          0)

monthly_results['cost_increases'] = np.where(monthly_results.total_cost_w_hp > monthly_results.total_cost_no_hp,
                                            monthly_results.total_cost_no_hp - monthly_results.total_cost_w_hp,
                                            0)

monthly_results.head()

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_dol_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_dol_w_hp,elec_kwh_no_hp,elec_dol_no_hp,elec_kwh_w_hp,...,fuel_chg_mmbtu,fuel_chg_dol,elec_chg_kwh,elec_chg_dol,cop,co2_lbs_saved,total_cost_w_hp,total_cost_no_hp,cost_savings,cost_increases
month,,,,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,...,0.000000,0.000000,0.000000,0.000000,1.80,0.000000,857.473322,857.473322,0.000000,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,...,0.000000,0.000000,0.000000,0.000000,1.85,0.000000,769.037656,769.037656,0.000000,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,...,0.000000,0.000000,0.000000,0.000000,1.90,0.000000,820.802656,820.802656,0.000000,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,...,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730,748.220009,671.416200,0.000000,-76.803809
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,...,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844,388.780322,459.222556,70.442234,0.000000

In [17]:
hp_cost = go.Bar(x=monthly_results.index,
             y=monthly_results.total_cost_w_hp,
             name='Heat Pump Heating Cost', 
             marker=dict(color='#377eb8'))

cost_savings = go.Bar(x=monthly_results.index,
                y=monthly_results.cost_savings,
                name='Cost Savings',
                marker=dict(color='#4daf4a'))

cost_increases = go.Bar(x=monthly_results.index,
                y=monthly_results.cost_increases,
                name='Cost Increases',
                marker=dict(color='#e41a1c'))

no_hp_costs = go.Scatter(x=monthly_results.index,
                        y=monthly_results.total_cost_no_hp,
                        name='Baseline Heating Costs',
                         mode='markers',
                         marker=dict(color='#000000', size=12)
                        )

data = [hp_cost, cost_savings, cost_increases, no_hp_costs]

layout = go.Layout(title='Heating Costs: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Total Heating Costs', hoverformat='dol,.2f'),
                  barmode='stack')

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_costs', fileopt='overwrite')

In [18]:
efficiency = [go.Scatter(x=monthly_results.index,
                         y=monthly_results.cop, 
                        name='COP',
                        mode='lines+markers')]

layout = go.Layout(title='Monthly Heat Pump Efficiency',
                xaxis=dict(title='Month'),
                yaxis=dict(title='COP'))

fig = go.Figure(data=efficiency, layout=layout)

py.iplot(fig, layout=layout, filename='cop', fileopt='overwrite')

In [19]:
md_results = '''# Results

## Heat Pump Cost Effectiveness

### Net Present Value
#### The Net Present Value of installing an air-source heat pump is estimated to be ${:,.0f}. 
#### This means that over the course of the life of the equipment you will {} ${:,.0f} in today's dollars.

### Internal Rate of Return
#### The internal rate of return on the investment is estimated to be {:0.1f}$. Compare this tax-free investment to your other investment options.

### Cash Flow
#### This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

#### Installing a heat pump is predicted to save {:,.0f} pounds of CO2 emissions annually, or {:,.0f} pounds over the life of the equipment.
#### This is equivalent to a reduction of {:,.0f} miles driven by an average passenger vehicle annually, or {:,.0f} over the equipment's life.  


```
'''

In [20]:
def npv_indicator(calc_object, pce_indicator):
    if calc_object.npv(ignore_pce=pce_indicator) > 0:
        return 'earn'
    else:
        return 'lose'

In [21]:
md = md_results.format(calc.npv(),
                  npv_indicator(calc, False),
                  calc.npv(),
                  calc.irr()*100,
                  annual_results.co2_lbs_saved,
                  annual_results.co2_lbs_saved * 12,
                  annual_results.vehicle_mileage_equivalent,
                  annual_results.vehicle_mileage_equivalent * 12)
Markdown(md)

# Results

## Heat Pump Cost Effectiveness

### Net Present Value
#### The Net Present Value of installing an air-source heat pump is estimated to be $-1,671.
#### This means that over the course of the life of the equipment you will lose $-1,671 in today's dollars.

### Internal Rate of Return
#### The internal rate of return on the investment is estimated to be -0.3$. Compare this tax-free investment to your other investment options.

### Cash Flow
#### This is how your cash flow will be affected by installing a heat pump:


## Greenhouse Gas Emissions

#### Installing a heat pump is predicted to save 938 pounds of CO2 emissions annually, or 11,253 pounds over the life of the equipment.
#### This is equivalent to a reduction of 1,051 miles driven by an average passenger vehicle annually, or 12,618 over the equipment's life.


```

In [22]:
annual_results

heat_load_mmbtu                115.576293
fuel_units_no_hp              1070.150861
fuel_mmbtu_no_hp               144.470366
fuel_dol_no_hp                5564.784478
fuel_units_w_hp                707.826000
fuel_mmbtu_w_hp                 95.556510
fuel_dol_w_hp                 3680.695200
elec_kwh_no_hp                4880.000000
elec_dol_no_hp                1024.800000
elec_kwh_w_hp                 9188.910575
elec_dol_w_hp                 2767.940658
fuel_chg_units                -362.324861
fuel_chg_mmbtu                 -48.913856
fuel_chg_dol                 -1884.089278
elec_chg_kwh                  4308.910575
elec_chg_dol                  1743.140658
cop                              2.661616
co2_lbs_saved                  937.784831
vehicle_mileage_equivalent    1051.482707
dtype: float64

In [23]:
list(monthly_results.columns.values)

['heat_load_mmbtu',
 'fuel_units_no_hp',
 'fuel_mmbtu_no_hp',
 'fuel_dol_no_hp',
 'fuel_units_w_hp',
 'fuel_mmbtu_w_hp',
 'fuel_dol_w_hp',
 'elec_kwh_no_hp',
 'elec_dol_no_hp',
 'elec_kwh_w_hp',
 'elec_dol_w_hp',
 'fuel_chg_units',
 'fuel_chg_mmbtu',
 'fuel_chg_dol',
 'elec_chg_kwh',
 'elec_chg_dol',
 'cop',
 'co2_lbs_saved',
 'total_cost_w_hp',
 'total_cost_no_hp',
 'cost_savings',
 'cost_increases']

In [24]:
elec_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results.elec_kwh_no_hp,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash'),
                        yaxis='y2'
                        )

elec_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.elec_kwh_w_hp,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0'),
                      yaxis='y2')

fuel_no_hp = go.Scatter(x=monthly_results.index,
                       y=monthly_results.fuel_units_no_hp,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.fuel_units_w_hp,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

data = [elec_no_hp, elec_w_hp, fuel_no_hp, fuel_w_hp]

layout = go.Layout(title='Energy Usage: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Heating Fuel Usage', hoverformat='.1f'),
               yaxis2=dict(title='Electricity Usage', 
                           hoverformat='.0f',
                          overlaying='y',
                          side='right')
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_fuel_usage', fileopt='overwrite')

In [25]:
from plotly import tools

elec_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results.elec_kwh_no_hp,
                        name='Monthly kWh (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash')
                        )

elec_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.elec_kwh_w_hp,
                      name='Monthly kWh (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0')
                      )

fuel_no_hp = go.Scatter(x=monthly_results.index,
                       y=monthly_results.fuel_units_no_hp,
                       name='Monthly Fuel Usage (no Heat Pump)',
                       line=dict(color='#f4a582',
                                width = 2,
                                dash = 'dash')
                       )

fuel_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results.fuel_units_w_hp,
                      name='Monthly Fuel Usage (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#ca0020'))

fig = tools.make_subplots(rows=2, cols=1)

fig.append_trace(elec_no_hp, 1, 1)
fig.append_trace(elec_w_hp, 1, 1)
fig.append_trace(fuel_no_hp, 2, 1)
fig.append_trace(fuel_w_hp, 2, 1)

fig['layout'].update(title='Energy Usage: Heat Pump vs. Basline')

fig['layout']['xaxis1'].update(title='Month')
fig['layout']['xaxis2'].update(title='Month')
fig['layout']['yaxis1'].update(title='Electricity Use (kWh)', hoverformat='.0f')
fig['layout']['yaxis2'].update(title='Heating Fuel Use', hoverformat='.1f')

py.iplot(fig, filename='heatpump_energy_usage', fileopt='overwrite')

This is the format of your plot grid:
[ (1,1) x1,y1 ]
[ (2,1) x2,y2 ]

In [26]:
# Nome utility ID for testing purposes
sample_util_id = 87

# Get utility dataframe
df_util = lib.util_from_id(sample_util_id)
df_util

ID                                                             87
Name                   Nome Joint Utilities Systems - Residential
Active                                                       True
Type                                                            1
IsCommercial                                                False
ChargesRCC                                                  False
PCE                                                        0.0836
CO2                                                           1.4
CustomerChg                                                     5
DemandCharge                                                  NaN
NameShort                                                  Nome J
Blocks          [(nan, 0.298000007867813), (nan, nan), (nan, n...
Name: 87, dtype: object

In [27]:
elec_coster = elec_cost.ElecCostCalc(sample_util_id, pce=0.0)

In [28]:
monthly_results.head()

,heat_load_mmbtu,fuel_units_no_hp,fuel_mmbtu_no_hp,fuel_dol_no_hp,fuel_units_w_hp,fuel_mmbtu_w_hp,fuel_dol_w_hp,elec_kwh_no_hp,elec_dol_no_hp,elec_kwh_w_hp,...,fuel_chg_mmbtu,fuel_chg_dol,elec_chg_kwh,elec_chg_dol,cop,co2_lbs_saved,total_cost_w_hp,total_cost_no_hp,cost_savings,cost_increases
month,,,,,,,,,,,,,,,,,,,,,
Jan,15.846369,146.725639,19.807961,762.973322,146.725639,19.807961,762.973322,450,94.5,450.000000,...,0.000000,0.000000,0.000000,0.000000,1.80,0.000000,857.473322,857.473322,0.000000,0.000000
Feb,14.096859,130.526472,17.621074,678.737656,130.526472,17.621074,678.737656,430,90.3,430.000000,...,0.000000,0.000000,0.000000,0.000000,1.85,0.000000,769.037656,769.037656,0.000000,0.000000
Mar,15.259209,141.288972,19.074011,734.702656,141.288972,19.074011,734.702656,410,86.1,410.000000,...,0.000000,0.000000,0.000000,0.000000,1.90,0.000000,820.802656,820.802656,0.000000,0.000000
Apr,12.243798,113.368500,15.304748,589.516200,32.391000,4.372785,168.433200,390,81.9,1555.081797,...,-10.931963,-421.083000,1165.081797,497.886809,2.20,-115.735730,748.220009,671.416200,0.000000,-76.803809
May,7.923930,73.369722,9.904913,381.522556,20.962778,2.829975,109.006444,370,77.7,888.386394,...,-7.074938,-272.516111,518.386394,202.073877,3.20,304.462844,388.780322,459.222556,70.442234,0.000000

In [29]:
elec_coster.monthly_cost(monthly_results.elec_kwh_w_hp[3])

468.4143877013617

In [30]:
monthly_results['elec_cost_w_hp_no_pce'] = monthly_results.elec_kwh_w_hp.apply(lambda x: elec_coster.monthly_cost(x))
monthly_results[['elec_dol_w_hp', 'elec_kwh_w_hp', 'elec_cost_w_hp_no_pce']]

       elec_dol_w_hp  elec_kwh_w_hp  elec_cost_w_hp_no_pce
month
Jan        94.500000     450.000000             139.100004
Feb        90.300000     430.000000             133.140003
Mar        86.100000     410.000000             127.180003
Apr       579.786809    1555.081797             468.414388
May       279.773877     888.386394             269.739152
Jun       150.745353     601.656339             184.293594
Jul        95.785463     456.121253             140.924137
Aug       110.099146     511.331435             157.376772
Sep       184.110995     675.802211             206.389064
Oct       370.663540    1090.363423             329.928309
Nov       631.575476    1670.167724             502.709995
Dec        94.500000     450.000000             139.100004

In [31]:
elec_cost_no_hp = go.Scatter(x=monthly_results.index,
                        y=monthly_results['elec_dol_no_hp'],
                        name='Monthly Electricity Cost (no Heat Pump)',
                        line=dict(color='#92c5de',
                                 width=2,
                                 dash='dash'),
                        yaxis='y2'
                        )

elec_cost_w_hp = go.Scatter(x=monthly_results.index,
                      y=monthly_results['elec_dol_w_hp'],
                      name='Monthly Electricity Cost (with Heat Pump)',
                      mode='lines',
                      marker=dict(color='#0571b0'),
                      yaxis='y2')


data = [elec_cost_no_hp, elec_cost_w_hp]

layout = go.Layout(title='Electricity Cost: Heat Pump vs. Baseline',
               xaxis=dict(title='Month'),
               yaxis=dict(title='Electricity Cost (dol)', hoverformat='.1f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_electricity_cost', fileopt='overwrite')

In [32]:
cash_flow = calc.cash_flow()

In [33]:
# Loweer the initial cash flow to see if the graph works
cash_flow.set_value(0, 'cash_flow', -2000)

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost
year,,,,,
0,4500.0,-2000.000000,0.000000,0.000000,0.000000
1,0.0,120.948620,1743.140658,1884.089278,20.000000
2,0.0,143.617971,1795.434878,1959.452849,20.400000
3,0.0,167.725039,1849.297924,2037.830963,20.808000
4,0.0,193.343180,1904.776862,2119.344201,21.224160
5,0.0,220.549159,1961.920168,2204.117969,21.648643
6,0.0,249.423299,2020.777773,2292.282688,22.081616
7,0.0,280.049641,2081.401106,2383.973996,22.523248
8,0.0,312.516103,2143.843139,2479.332956,22.973713
9,0.0,346.914653,2208.158433,2578.506274,23.433188
10,0.0,383.341487,2274.403186,2681.646525,23.901851
11,0.0,421.897215,2342.635282,2788.912386,24.379888
12,0.0,462.687055,2412.914340,2900.468881,24.867486
13,0.0,505.821030,2485.301771,3016.487636,25.364836
14,0.0,551.414186,2559.860824,3137.147142,25.872133

In [34]:
cash_flow['cumulative_cash_flow'] = cash_flow.get_value(0, 'cash_flow')

for index, row in cash_flow.iterrows():
    
    if index == 0:
        pass
    
    else:
        cumulative_cash_flow = cash_flow.get_value((index-1), 'cumulative_cash_flow')
        current_cash_flow = cash_flow.get_value(index, 'cash_flow')
        cash_flow.set_value(index, 'cumulative_cash_flow', (cumulative_cash_flow + current_cash_flow))

cash_flow

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:11: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost,cumulative_cash_flow
year,,,,,,
0,4500.0,-2000.000000,0.000000,0.000000,0.000000,-2000.000000
1,0.0,120.948620,1743.140658,1884.089278,20.000000,-1879.051380
2,0.0,143.617971,1795.434878,1959.452849,20.400000,-1735.433409
3,0.0,167.725039,1849.297924,2037.830963,20.808000,-1567.708370
4,0.0,193.343180,1904.776862,2119.344201,21.224160,-1374.365191
5,0.0,220.549159,1961.920168,2204.117969,21.648643,-1153.816032
6,0.0,249.423299,2020.777773,2292.282688,22.081616,-904.392733
7,0.0,280.049641,2081.401106,2383.973996,22.523248,-624.343092
8,0.0,312.516103,2143.843139,2479.332956,22.973713,-311.826988
9,0.0,346.914653,2208.158433,2578.506274,23.433188,35.087664
10,0.0,383.341487,2274.403186,2681.646525,23.901851,418.429151
11,0.0,421.897215,2342.635282,2788.912386,24.379888,840.326367
12,0.0,462.687055,2412.914340,2900.468881,24.867486,1303.013422
13,0.0,505.821030,2485.301771,3016.487636,25.364836,1808.834452
14,0.0,551.414186,2559.860824,3137.147142,25.872133,2360.248637

In [35]:
cash_flow['energy_cost_difference'] = cash_flow.fuel_cost_savings - cash_flow.elec_cost_increase
cash_flow['energy_cost_increase'] = np.where(cash_flow.energy_cost_difference <= 0,
                                            cash_flow.energy_cost_difference,
                                            0)
cash_flow['energy_cost_decrease'] = np.where(cash_flow.energy_cost_difference > 0,
                                            cash_flow.energy_cost_difference,
                                            0)

# Split cash flow into positive and negative to fill areas with different colors in chart
cash_flow['negative_cash_flow'] = np.where(cash_flow.cumulative_cash_flow <= 0, 
                                          cash_flow.cumulative_cash_flow,
                                          0)
cash_flow['positive_cash_flow'] = np.where(cash_flow.cumulative_cash_flow >= 0,
                                          cash_flow.cumulative_cash_flow,
                                          0)

cash_flow

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost,cumulative_cash_flow,energy_cost_difference,energy_cost_increase,energy_cost_decrease,negative_cash_flow,positive_cash_flow
year,,,,,,,,,,,
0,4500.0,-2000.000000,0.000000,0.000000,0.000000,-2000.000000,0.000000,0.0,0.000000,-2000.000000,0.000000
1,0.0,120.948620,1743.140658,1884.089278,20.000000,-1879.051380,140.948620,0.0,140.948620,-1879.051380,0.000000
2,0.0,143.617971,1795.434878,1959.452849,20.400000,-1735.433409,164.017971,0.0,164.017971,-1735.433409,0.000000
3,0.0,167.725039,1849.297924,2037.830963,20.808000,-1567.708370,188.533039,0.0,188.533039,-1567.708370,0.000000
4,0.0,193.343180,1904.776862,2119.344201,21.224160,-1374.365191,214.567340,0.0,214.567340,-1374.365191,0.000000
5,0.0,220.549159,1961.920168,2204.117969,21.648643,-1153.816032,242.197802,0.0,242.197802,-1153.816032,0.000000
6,0.0,249.423299,2020.777773,2292.282688,22.081616,-904.392733,271.504915,0.0,271.504915,-904.392733,0.000000
7,0.0,280.049641,2081.401106,2383.973996,22.523248,-624.343092,302.572890,0.0,302.572890,-624.343092,0.000000
8,0.0,312.516103,2143.843139,2479.332956,22.973713,-311.826988,335.489816,0.0,335.489816,-311.826988,0.000000
9,0.0,346.914653,2208.158433,2578.506274,23.433188,35.087664,370.347841,0.0,370.347841,0.000000,35.087664
10,0.0,383.341487,2274.403186,2681.646525,23.901851,418.429151,407.243338,0.0,407.243338,0.000000,418.429151
11,0.0,421.897215,2342.635282,2788.912386,24.379888,840.326367,446.277104,0.0,446.277104,0.000000,840.326367
12,0.0,462.687055,2412.914340,2900.468881,24.867486,1303.013422,487.554541,0.0,487.554541,0.000000,1303.013422
13,0.0,505.821030,2485.301771,3016.487636,25.364836,1808.834452,531.185866,0.0,531.185866,0.000000,1808.834452
14,0.0,551.414186,2559.860824,3137.147142,25.872133,2360.248637,577.286318,0.0,577.286318,0.000000,2360.248637

In [36]:
negative_cash_flow = go.Scatter(x=cash_flow.index,
                            y=cash_flow.negative_cash_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#d7191c',
                            line=dict(color='#ffffff')
                           )

positive_cash_flow = go.Scatter(x=cash_flow.index,
                            y=cash_flow.positive_cash_flow,
                            name='Cash Flow ($)',
                            fill='tozeroy',
                            fillcolor='#000000',
                            line=dict(color='#ffffff')
                           )

data = [negative_cash_flow, positive_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cash Flow',
                   xaxis=dict(title='Month'),
                   yaxis=dict(title='Annual Cash Flow', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_cash_flow', fileopt='overwrite')

## Maybe make a hidden set of results to show what happens without PCE?

In [37]:
no_pce_cash_flow = calc.cash_flow(ignore_pce=True)
no_pce_cash_flow

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost
year,,,,,
0,4500.0,-4500.000000,0.000000,0.000000,0.000000
1,0.0,-74.920481,1939.009759,1884.089278,20.000000
2,0.0,-58.127203,1997.180051,1959.452849,20.400000
3,0.0,-40.072490,2057.095453,2037.830963,20.808000
4,0.0,-20.688275,2118.808317,2119.344201,21.224160
5,0.0,0.096760,2182.372566,2204.117969,21.648643
6,0.0,22.357329,2247.843743,2292.282688,22.081616
7,0.0,46.171692,2315.279055,2383.973996,22.523248
8,0.0,71.621815,2384.737427,2479.332956,22.973713
9,0.0,98.793536,2456.279550,2578.506274,23.433188
10,0.0,127.776737,2529.967936,2681.646525,23.901851
11,0.0,158.665523,2605.866974,2788.912386,24.379888
12,0.0,191.558411,2684.042984,2900.468881,24.867486
13,0.0,226.558527,2764.564273,3016.487636,25.364836
14,0.0,263.773808,2847.501201,3137.147142,25.872133

In [38]:
no_pce_cash_flow['no_pce_cumulative_cash_flow'] = no_pce_cash_flow.get_value(0, 'cash_flow')

for index, row in no_pce_cash_flow.iterrows():
    
    if index == 0:
        pass
    
    else:
        cumulative_cash_flow = no_pce_cash_flow.get_value((index-1), 'no_pce_cumulative_cash_flow')
        current_cash_flow = no_pce_cash_flow.get_value(index, 'cash_flow')
        no_pce_cash_flow.set_value(index, 'no_pce_cumulative_cash_flow', (cumulative_cash_flow + current_cash_flow))

no_pce_cash_flow

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:9: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:10: FutureWarning:

get_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

C:\Users\Alan\Anaconda2\envs\py36\lib\site-packages\ipykernel_launcher.py:11: FutureWarning:

set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost,no_pce_cumulative_cash_flow
year,,,,,,
0,4500.0,-4500.000000,0.000000,0.000000,0.000000,-4500.000000
1,0.0,-74.920481,1939.009759,1884.089278,20.000000,-4574.920481
2,0.0,-58.127203,1997.180051,1959.452849,20.400000,-4633.047683
3,0.0,-40.072490,2057.095453,2037.830963,20.808000,-4673.120174
4,0.0,-20.688275,2118.808317,2119.344201,21.224160,-4693.808449
5,0.0,0.096760,2182.372566,2204.117969,21.648643,-4693.711689
6,0.0,22.357329,2247.843743,2292.282688,22.081616,-4671.354360
7,0.0,46.171692,2315.279055,2383.973996,22.523248,-4625.182668
8,0.0,71.621815,2384.737427,2479.332956,22.973713,-4553.560853
9,0.0,98.793536,2456.279550,2578.506274,23.433188,-4454.767316
10,0.0,127.776737,2529.967936,2681.646525,23.901851,-4326.990579
11,0.0,158.665523,2605.866974,2788.912386,24.379888,-4168.325056
12,0.0,191.558411,2684.042984,2900.468881,24.867486,-3976.766645
13,0.0,226.558527,2764.564273,3016.487636,25.364836,-3750.208118
14,0.0,263.773808,2847.501201,3137.147142,25.872133,-3486.434310

In [39]:
combined_cash_flow = pd.merge(cash_flow, no_pce_cash_flow[['no_pce_cumulative_cash_flow']], left_index=True, right_index=True, how='left')
combined_cash_flow

,capital_cost,cash_flow,elec_cost_increase,fuel_cost_savings,operating_cost,cumulative_cash_flow,energy_cost_difference,energy_cost_increase,energy_cost_decrease,negative_cash_flow,positive_cash_flow,no_pce_cumulative_cash_flow
year,,,,,,,,,,,,
0,4500.0,-2000.000000,0.000000,0.000000,0.000000,-2000.000000,0.000000,0.0,0.000000,-2000.000000,0.000000,-4500.000000
1,0.0,120.948620,1743.140658,1884.089278,20.000000,-1879.051380,140.948620,0.0,140.948620,-1879.051380,0.000000,-4574.920481
2,0.0,143.617971,1795.434878,1959.452849,20.400000,-1735.433409,164.017971,0.0,164.017971,-1735.433409,0.000000,-4633.047683
3,0.0,167.725039,1849.297924,2037.830963,20.808000,-1567.708370,188.533039,0.0,188.533039,-1567.708370,0.000000,-4673.120174
4,0.0,193.343180,1904.776862,2119.344201,21.224160,-1374.365191,214.567340,0.0,214.567340,-1374.365191,0.000000,-4693.808449
5,0.0,220.549159,1961.920168,2204.117969,21.648643,-1153.816032,242.197802,0.0,242.197802,-1153.816032,0.000000,-4693.711689
6,0.0,249.423299,2020.777773,2292.282688,22.081616,-904.392733,271.504915,0.0,271.504915,-904.392733,0.000000,-4671.354360
7,0.0,280.049641,2081.401106,2383.973996,22.523248,-624.343092,302.572890,0.0,302.572890,-624.343092,0.000000,-4625.182668
8,0.0,312.516103,2143.843139,2479.332956,22.973713,-311.826988,335.489816,0.0,335.489816,-311.826988,0.000000,-4553.560853
9,0.0,346.914653,2208.158433,2578.506274,23.433188,35.087664,370.347841,0.0,370.347841,0.000000,35.087664,-4454.767316
10,0.0,383.341487,2274.403186,2681.646525,23.901851,418.429151,407.243338,0.0,407.243338,0.000000,418.429151,-4326.990579
11,0.0,421.897215,2342.635282,2788.912386,24.379888,840.326367,446.277104,0.0,446.277104,0.000000,840.326367,-4168.325056
12,0.0,462.687055,2412.914340,2900.468881,24.867486,1303.013422,487.554541,0.0,487.554541,0.000000,1303.013422,-3976.766645
13,0.0,505.821030,2485.301771,3016.487636,25.364836,1808.834452,531.185866,0.0,531.185866,0.000000,1808.834452,-3750.208118
14,0.0,551.414186,2559.860824,3137.147142,25.872133,2360.248637,577.286318,0.0,577.286318,0.000000,2360.248637,-3486.434310

In [40]:
cumulative_cash_flow = go.Scatter(x=combined_cash_flow.index,
                            y=combined_cash_flow.cumulative_cash_flow,
                            name='Cash Flow With PCE ($)',
                            line=dict(color='#000000',
                                     dash='dash'))

no_pce_cash_flow = go.Scatter(x=combined_cash_flow.index,
                             y=combined_cash_flow.no_pce_cumulative_cash_flow,
                             name='Cash Flow Without PCE Subsidy ($)',
                             line=dict(color='#d7191c')
                             )

data = [no_pce_cash_flow, cumulative_cash_flow]

layout = go.Layout(title='Heat Pump Lifetime Cash Flow: PCE Subsidy Effect',
                   xaxis=dict(title='Month'),
                   yaxis=dict(title='Annual Cash Flow', hoverformat='.0f'),
                  )

fig = go.Figure(data=data, layout=layout)

py.iplot(fig, filename='heatpump_cash_flow_no_pce', fileopt='overwrite')

In [90]:
no_pce_economic_md_results = '''# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value

The Net Present Value of installing an air-source heat pump is estimated to be **\${:,.0f}** if the PCE subsidy is not included. This means that over the course of the life of the equipment 
you **will {} \${:,.0f}** in today's dollars.

### Internal Rate of Return

The internal rate of return on the investment is estimated to be {:.1f}% if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:
'''

In [91]:
md = no_pce_economic_md_results.format(calc.npv(ignore_pce=True),
                  npv_indicator(calc, True),
                  abs(calc.npv(ignore_pce=True)),
                  calc.irr(ignore_pce=True)*100
                                 )
md

"# Results\n\n## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)\n\n### Net Present Value\n\nThe Net Present Value of installing an air-source heat pump is estimated to be **\\$-3,983** if the PCE subsidy is not included. This means that over the course of the life of the equipment \nyou **will lose \\$3,983** in today's dollars.\n\n### Internal Rate of Return\n\nThe internal rate of return on the investment is estimated to be -11.0% if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.\n\n### Cash Flow\n\nThis is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included:\n"

In [92]:
Markdown(md)

# Results

## Heat Pump Cost Effectiveness without Power Cost Equalization (PCE)

### Net Present Value

The Net Present Value of installing an air-source heat pump is estimated to be **\$-3,983** if the PCE subsidy is not included. This means that over the course of the life of the equipment
you **will lose \$3,983** in today's dollars.

### Internal Rate of Return

The internal rate of return on the investment is estimated to be -11.0% if the PCE subsidy is not included. Compare this tax-free investment to your other investment options.

### Cash Flow

This is how your cash flow will be affected by installing a heat pump if the PCE subsidy is not included: