# Shows How to Open and Use Pickled Run Files

In [2]:
import pickle
import gzip

In [3]:
with gzip.open('hpcalc_runs/1579624765.12.pkl.gz', 'rb') as f:
    cobj = pickle.load(f)

In [19]:
', '.join(dir(cobj))

'__class__, __delattr__, __dict__, __dir__, __doc__, __eq__, __format__, __ge__, __getattribute__, __gt__, __hash__, __init__, __init_subclass__, __le__, __lt__, __module__, __ne__, __new__, __reduce__, __reduce_ex__, __repr__, __setattr__, __sizeof__, __str__, __subclasshook__, __weakref__, ann_en_base, ann_en_hp, bedroom_temp_tolerance, bldg_floor_area, bldg_name, calc_cash_flow, calc_monthly_cash, capital_cost, city, city_id, co2_lbs_per_kwh, df_cash_flow, df_hourly, df_mo_dol_base, df_mo_dol_hp, df_mo_en_base, df_mo_en_hp, discount_rate, doors_open_to_adjacent, elec_esc_rate, elec_use_jan, elec_use_may, exist_fuel, exist_fuel_use, exist_heat_effic, exist_heat_fuel_id, exist_kwh_per_mmbtu, exist_unit_fuel_cost, fuel_esc_rate, fuel_other_uses, garage_heated_by_hp, garage_stall_count, hp_life, hp_model, hp_model_id, includes_cooking, includes_dhw, includes_dryer, indoor_heat_setpoint, inflation_rate, insul_level, lights_other_elec, loan_interest, loan_term, low_temp_cutoff, notes, occupant_count, off_months_chks, op_cost_chg, pce_limit, pct_exposed_to_hp, pct_financed, rebate_dol, run, sales_tax, summary, ua_true_up, utility'

In [13]:
cobj.df_mo_en_base

,hp_load_mmbtu,secondary_load_mmbtu,hp_kwh,secondary_fuel_mmbtu,secondary_kwh,total_kwh,hp_kw,secondary_kw,total_kw,secondary_fuel_units,cop,co2_lbs
Jan,0.0,2.282893,0.0,0.0,668.881770,668.881770,0.0,2.422820,2.422820,0.0,NaN,1137.099009
Feb,0.0,1.523764,0.0,0.0,446.458878,446.458878,0.0,1.875912,1.875912,0.0,NaN,758.980092
Mar,0.0,1.331059,0.0,0.0,389.996648,389.996648,0.0,1.567654,1.567654,0.0,NaN,662.994302
Apr,0.0,0.233405,0.0,0.0,68.387158,68.387158,0.0,0.712488,0.712488,0.0,NaN,116.258168
May,0.0,0.008384,0.0,0.0,2.456437,2.456437,0.0,0.274962,0.274962,0.0,NaN,4.175943
Jun,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,NaN,0.000000
Jul,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,NaN,0.000000
Aug,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,NaN,0.000000
Sep,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,NaN,0.000000
Oct,0.0,0.203366,0.0,0.0,59.585619,59.585619,0.0,0.990914,0.990914,0.0,NaN,101.295553
Nov,0.0,1.133484,0.0,0.0,332.107765,332.107765,0.0,1.488104,1.488104,0.0,NaN,564.583201
Dec,0.0,1.785574,0.0,0.0,523.168402,523.168402,0.0,2.044956,2.044956,0.0,NaN,889.386283

In [20]:
cobj.ann_en_base

hp_load_mmbtu              0.000000
secondary_load_mmbtu       8.501929
hp_kwh                     0.000000
secondary_fuel_mmbtu       0.000000
secondary_kwh           2491.042678
total_kwh               2491.042678
hp_kw                      0.000000
secondary_kw               2.422820
total_kw                   2.422820
secondary_fuel_units       0.000000
cop                             NaN
co2_lbs                 4234.772552
dtype: float64

In [21]:
cobj.ua_true_up

0.3836899719404524

In [16]:
9522 - 5206

4316